version: '3.8'
services:
  redis:
    image: redis:7
    ports:
      - '6379:6379'
    command: ['redis-server', '--save', '', '--appendonly', 'no']

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifly
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    command: ['mongod', '--bind_ip_all']
    ports:
      - '27017:27017'
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
